.review-item-solo {
    margin-bottom: 50px;
    text-align: center;
    list-style: none;
    border: 2px solid black;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
}

.layout-solo {
    display: flex;
    flex-direction: row;
    gap: 3px;
    flex: 1;
}


.top-right-solo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1
}

.bottom-half {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 80%;
}

@media screen and (max-width: 280px) {
    img {
        width: 100px;
        height: 100px;
    }
}
