.upvote-clicked {
    background-color: rgb(104, 239, 104);
}

.downvote-clicked {
    background-color: rgb(229, 70, 70);
}

.voting-layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.not-clicked, .upvote-clicked, .downvote-clicked {
    border-radius: 15px;
    border: solid 1px black;
}